<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;800&display=swap" rel="stylesheet">
</head>
<style>
    * {
            font-family: 'Noto Sans KR', sans-serif;
            text-align: center;
        }
    input {
        margin: 20px 10px;
    }
</style>
<body>
    <form name="myform" action="" method="post">
        제목: <input type="text" name="title" id="title">
        작성자: <input type="text" name="writer" id="writer">
        내용: <input type="text" name="contents" id="contents">
        <button type="button" id="btnSend">전송</button>
    </form>
</body>
</html>
<script>
    window.onload = () => {
        document.querySelector("#btnSend").addEventListener("click", () => {
            console.log("aa")
            let frm = document.myform;
            frm.action = "/board/write";
            frm.method = "POST";
            frm.submit(); //서버로 보내라
        });
    }
</script>