<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;800&display=swap" rel="stylesheet">
</head>
<style>
    * {
            font-family: 'Noto Sans KR', sans-serif;
            margin: 20px;
        }
</style>
<body>
    제목: <%= board.title %> <br>
    작성자: <%= board.writer %> <br>
    작성일: <%= board.wdate %> <br>
    내용: <%= board.contents %> <br>
</body>
</html>